/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

body {
    background-color: #fff;
    @include body-font-regular;
    @include fontSize(18px);
    line-height: 1.4;
    margin: 0 auto; /*margin on the top is 0, left and right its automatic*/
    max-width: 650px;
    width: 100%;
}

main, footer[role="contentinfo"] {
    padding: 0 10px;
}

header[role="banner"]{
    margin-bottom: 50px;
    margin-left: 10px;
}

img {
    height: auto;
    max-width: 100%;
    margin:0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    @include fontSize(14px);
    background-color: $background-color;
    padding: 8px;
    margin: 0;
}

a {
    color: $linkcolor;
    @include body-font-bold;
    transition: color 350ms linear;
    text-decoration: none;
}

a:hover {
    color: lighten($linkcolor,30%);
    transition: color 300ms linear;   
}

h1, {
   @include headline-font; 
}
h2, h3 {
    @include body-font-bold;
    margin-bottom: -10px;
}

header h1 {
    @include fontSize(60px);
    margin: 0;
    line-height: 1.5;
}

article h1 {
    color: $color-title;
    @include fontSize(66px);
    margin: 48px 0 48px;
    text-transform: capitalize;
}

article div {
    color: $color-title;
    @include fontSize(50px);
    @include body-font-bold;
    margin:30px 0;
}

#headerinfo {
    @include fontSize(12px);
    color: lighten($linkcolor,20%);
    margin-bottom: 12;
}
